button {
  h4 {
    opacity: 70%;
    transition: all 300ms;
  }
  p {
    opacity: 70%;
    transition: all 300ms;
  }
  &:hover {
    h4 {
      opacity: 100%;
    }
    p {
      opacity: 100%;
    }
  }
}
