@if (showTrigger()) {
  <app-icon-text-button
    (click)="open.set(true)"
    icon="plus"
    text="Novo Analista"
    class="w-full text-white bg-secondary text-center"
    align="center"
  ></app-icon-text-button>
}
@if (open()) {
  <div
    (click)="onCancel()"
    animate.enter="expand"
    animate.leave="collapse"
    class="fixed inset-0 h-dvh flex z-10 items-start justify-center overflow-y-auto py-6 bg-white/20 backdrop-blur-[2px]"
  >
    <form
      class="grid p-3 rounded-xl shadow-xl gap-3 bg-white w-full max-w-[400px] h-min mx-3"
      (click)="$event.stopPropagation()"
      [formGroup]="analystForm"
      (ngSubmit)="submit()"
    >
      <h3 class="font-merriweather text-center text-secondary text-xl">
        {{ isEditing() ? 'Editar Analista' : 'Adicionar Analista' }}
      </h3>
      <input type="text" placeholder="Nome Completo" formControlName="fullName" />
      @if (!isEditing()) {
        <div class="grid gap-3">
          <hr class="opacity-20" />
          <label>Acessos</label>
          <input type="text" placeholder="email@email.com" formControlName="email" />
          <div class="grid w-full">
            <button
              class="text-left font-sm mb-2 show-pass text-primary"
              type="button"
              (click)="togglePassVisibility()"
            >
              Exibir Senha
            </button>
            <input [type]="passwordInputType()" placeholder="Senha" formControlName="password" />
          </div>
        </div>
      }
      <div class="grid grid-cols-1 gap-3 mt-1 sm:grid-cols-2">
        <app-icon-text-button
          [disabled]="analystForm.invalid"
          type="submit"
          icon="plus"
          text="Salvar"
          class="w-full text-white bg-primary rounded-xl"
          align="center"
        ></app-icon-text-button>
        <app-icon-text-button
          (click)="onCancel()"
          icon="arrow-left"
          text="Voltar"
          class="w-full text-primary bg-white rounded-xl"
          align="center"
        ></app-icon-text-button>
      </div>
    </form>
  </div>
}
