footer {
  margin-inline: auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  section {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    place-items: center;
      gap: 0.5rem;

    width: 100%;
    a {
      color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  h4 {
    text-align: center;
    margin-top: 4rem;
  }
}
