.slide-button {
  padding: 0.5rem;
  transition: all 300ms;
  &:hover {
    background-color: rgba(128, 128, 128, 0.1);
    opacity: 70%;
  }
  &:active {
    opacity: 50%;
  }
}

.slider {
  display: flex;
  width: 300%;
  transition: all 300ms;
}

.slide {
  width: 100%;
  transition: all 300ms;
}

.definidos {
  transform: translateX(0%);
}

.indefinidos {
  transform: translateX(-33.333%);
}

.abertos {
  transform: translateX(-66.666%);
}

.hide {
  opacity: 0;
}

.hr-left {
    transform: translateX(0%);
}

.hr-center {
  transform: translateX(100%);
}

.hr-right {
  transform: translateX(200%);
}
