<form
  class="flex flex-col p-4 gap-4 shadow-xl rounded-xl bg-white/95 md:min-h-[420px] md:min-w-[350px]"
  [formGroup]="loginForm"
  (ngSubmit)="onLogin()"
>
  <app-logo></app-logo>
  <input
    formControlName="email"
    required
    name="email"
    type="email"
    placeholder="Email"
  />
  <input
    formControlName="password"
    required
    name="password"
    type="password"
    placeholder="Senha"
  />
  @if (error()) {
    <span class="text-center text-[red]">{{ error() }}</span>
  }
  <app-button variant="flat"
    [disabled]="!loginForm.valid"
    text="Entrar"
    classes="bg-primary w-full text-white"
  ></app-button>
</form>

@if (isLoading()) {
  <app-infinity></app-infinity>
}
