@if (roles()) {
  @if (roles().includes('USER')) {
    <section class="grid grid-cols-1 gap-3 container main-padding mx-auto md:grid-cols-2">
      <app-dashboard-button
        (action)="navigateTo('human-design')"
        imgSrc="https://i.imgur.com/U4xU7Hj.png"
        title="Desenho Humano"
        subtitle="Sua Estratégia Natural"
        description="Descubra como sua energia opera e como tomar decisões alinhadas com sua essência."
      ></app-dashboard-button>
      <app-dashboard-button
        (action)="navigateTo('numerology')"
        imgSrc="https://i.imgur.com/hYZJdpD.png"
        title="Numerologia"
        subtitle="A vibração do seu destino"
        description="Entenda os ciclos numéricos que regem sua vida e os propósitos por trás do seu nome."
      ></app-dashboard-button>
      <app-dashboard-button
        imgSrc="https://i.imgur.com/Wh3IKVb.png"
        title="Astrologia"
        subtitle="O mapa do seu sucesso"
        description="Explore a influência dos astros em sua jornada empreendedora e talentos inatos."
      ></app-dashboard-button>
      <app-dashboard-button
        imgSrc="https://i.imgur.com/ji8gc9V.png"
        title="Plano Perfeito"
        subtitle="Sua rota de mentoria"
        description="A união de todos os conceitos em um guia prático para escalar seu negócio com alma."
      ></app-dashboard-button>
    </section>
  }
  @if(roles().includes('ADMIN') || roles().includes('MANAGER')){
    <section class="grid grid-cols-1 gap-3 container main-padding mx-auto md:grid-cols-3">
    <app-dashboard-button
      imgSrc="https://i.imgur.com/U4xU7Hj.png"
      title="Gerenciar Maestras"
      subtitle=""
      description=""
    ></app-dashboard-button>
    <app-dashboard-button
      imgSrc="https://i.imgur.com/hYZJdpD.png"
      title="Gerenciar Análises do DNA"
      subtitle=""
      description=""
    ></app-dashboard-button>
    @if (roles().includes('MANAGER')) {
      <app-dashboard-button
        imgSrc="https://i.imgur.com/Wh3IKVb.png"
        title="Gerenciar Analistas do DNA"
        subtitle=""
        description=""
      ></app-dashboard-button>
    }
  </section>
  }
}
